*, *:before, *:after {
box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.wrap{
  overflow: hidden;
}

body{
  color: #333;
  font-size: 1.4rem;
  font-family: "YuGothic",  Yu Gothic,  sans-serif;
}

li{
  list-style-type: none;
}

#concept, #feature, #staff, #life, #access, #daily, #contact{
  padding-top: 70px;
  padding-bottom: 60px;
}

.about-text{
  font-size: 1.8rem;
  letter-spacing: 0.6px;
}

.content-wrapper{
  width: 90%;
  margin: 0 auto;
}

h2{
  font-size: 2.4rem;
  margin-bottom: -5px;
}

.ja-title{
  font-size: 1.2rem;
}

#mainVisual{
  background:linear-gradient(to bottom, #00afcc, #a0d8ef);
  height: 100vh;
}


.gnavi{
  position: fixed;
  z-index: 2; 
  top: 0; 
  left: 0; 
  background: #fff;
  color: #000; 
  text-align: center; 
  width: 60%; 
  height: 100%;
  transform: translateY(-100%); 
  transition: all 0.6s; 
}

.gnavi ul{
  background: #ccc;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.gnavi ul li{
  font-size: 1.8rem;
  list-style-type: none;
  width: 100%;
}

.gnavi ul li:last-child{
  border-bottom: none;
}

.gnavi ul li a{
  display: block;
  color: #000;
  padding: 20px 0;
  text-decoration: none;
}

.gnavi.active{
  transform: translateY(0%);
}


.menu-trigger {
    position: fixed; 
    right: 5%;
    top: 5%;
    width: 56px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
}

.menu-trigger span {
    display: block;
    position: absolute;
    width: 56px;
    border-bottom: solid 4px #fff;
    border-radius: 4px;
    transition: .35s ease-in-out;			
}

.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 13px;
}
.menu-trigger span:nth-child(3) {
  top: 26px;
}


.menu-trigger.active span:nth-child(1) {
    top: 18px;
    transform: rotate(-45deg);
}


.menu-trigger.active span:nth-child(2),
.menu-trigger.active span:nth-child(3) {
    top: 18px;
    transform: rotate(45deg);
}


.mv-left{
  width: 100%;
  position: relative;
  top: 100px;
  text-align: center;
  z-index: 1;
}
.mv-left img{
  width: 45%;
}


.mv-right{
  width: 100%;
  text-align: center;
  margin-top: 120px;
}

h1, .price1, .price2{
  font-family: 'Libre Baskerville', serif;
}

h1{
  font-size: 4.2rem;
  line-height: 1.2;
}

.price span{
  display: inline-block;
}

.price1{
  font-size: 3.2rem;
  margin-right: 20px;
}

.price2{
  font-size: 4.0rem;
}

.purchase-button{
  filter: drop-shadow(4px 4px 6px #404040);
  text-align: center;
  margin-top: 32px;
}

.purchase-button a{
  display: inline-block;
  background-color: #eb3c55;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  padding: 10px 60px;
  color: #fff;
  text-decoration: none;
}

.purchase-button a:hover{
  background-color: #fff;
  color: #eb3c55;
  transition: 0.6s;
}

#concept{
  background-image: url(../image/concept/back1.png),
                    url(../image/concept/back2.png);
  background-size: 40%,
                   40%;
  background-repeat: no-repeat;
  background-position: 0 100%,
                       100% 0;
  overflow-x: hidden;
  text-align: center;
  z-index: 3;
}

.concept-wrapper{
  background: rgba(228,236,239,0.5);
  margin-top: -100px;
  padding-top: 70px;
  margin-bottom: -60px;
  padding-bottom: 60px;
}

.concept-copy{
  width: 90%;
  margin: 0 auto;
}

.title{
  margin-bottom: 40px;
  text-align: center;
}

.main-copy{
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 55px;
}

.concept-text{
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.8;
}

#feature{
  background-color: #c8e1ec;
}

.feature-box{
  background-color: #fff;
  border-radius: 20px;
  filter: drop-shadow(8px 8px 6px #404040);
  margin-bottom: 40px;
  width: 100%;
}

.feature-box:nth-of-type(2){
  background-color: #efd9dc;
}

.feature-image{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.feature-text{
  margin-top: 24px;
  padding: 15px 15px 50px 15px;
}

.feature-number, .feature-about{
  font-size: 1.4rem;
}

.feature-about{
  margin-top: 30px;
}

.feature-number{
  display: block;
  margin-top: 24px;
}

.feature-title{
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 5px;
}

#staff{
  background-color: #e4ecef;
}

.staff-container{
  position: relative;
}

.staff-box{
  display: none;
}

.staff-box.active{
  display: block;
  /* .staff-containerの領域に.staff-boxが入るように */
  width: 80%;
  margin: 0 auto;
}

.box-design{
  background-color: #fff;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 4px #404040)
}

.staff-image{
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.staff-text{
  width: 100%;
  text-align: center;
  padding: 15px 15px 30px 15px;
}

.staff-title{
  font-size: 2.0rem;
}

.staff-about{
  margin: 16px 0 16px;
  border: 1px solid #eb3c55;
  padding: 10px;
  text-align: left;
}

.staff-name{
  font-weight: bold;
  border-bottom: dashed 4px #eb3c55;
  display: inline-block;
  margin-top: 10px;
}

.button{
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 36px;
  height: 36px;
  margin: auto;
  border-top: 2px solid #000;
  cursor: pointer;
  z-index: 1;
}

.prev {
  position: absolute;
  left: 5px;
  border-left: 2px solid #000;
  transform: rotate(-45deg);
}

.next {
  position: absolute;
  right: 5px;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}

.life-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.life-type{
  text-align: center;
}

@media screen and (max-width: 511px) {
  .life-type{
    width: 45%;
  }
}

@media screen and (min-width: 512px) {
  .life-type{
    width: 30%;
  }
}

.life-type a{
  display: block;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  font-size: 1.4rem;
}

.life-type a:hover{
  background-color: #eb3c55;
  color: #fff;
  transition: 0.6s;
}

.life-img{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}


.modal-main{
  display: none;
}

.inner {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.inner-content{
  text-align: center;
  margin: 0;
  padding: 0;
}

.inner img{
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inner-title{
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 2.8rem;
  font-weight: bold;
}

.inner-text{
  font-size: 1.6rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modalClose{
  display: inline-block;
  padding: 20px 40px;
  background-color: #00afcc;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}

.modalClose:hover{
  color: #00afcc;
  background-color: #e4e0e1;
  transition: 0.6s;
}


#purchase-area{
  background:linear-gradient(to bottom, #e095a0, #e4e0e1);
  padding-top: 70px;
  padding-bottom: 60px;
}

.lineup-menu ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lineup-menu ul li{
  height: 40px;
  text-align: center;
  border-radius: 12px 12px 5px 5px;
  border: 1px solid #00afcc;
  background-color: #fff;
  list-style-type: none;
}

@media screen and (max-width: 511px) {
  .lineup-menu ul li{
    width: 45%;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 512px) {
  .lineup-menu ul li{
    width: 30%;
    margin-bottom: 32px;
  }
}

.lineup-menu ul li a{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 12px 12px 5px 5px;
  color: #333;
  width: 100%;
  line-height: 38px;
}

.lineup-menu ul li a:hover{
  color: #fff;
  background-color: #eb3c55;
  transition: 0.6s;
}


.product-wrapper{
  width: 100%;
  margin-top: 16px;
}

.product-image{
  width: 100%;
}

.product-image, .package-image{
  width: 100%;
  border-radius: 20px;
  border: 1px solid #00afcc;
}

@media screen and (max-width: 511px) {
  .lineup-product{
    width: 100%;
    margin-bottom: 24px;
  }
  .lineup-about{
    margin-top: 16px;
  }
  .product-name{
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 512px) {
  .product-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .lineup-product{
    width: 45%;
    margin-bottom: 24px;
  }
  .lineup-about{
    margin-top: 20px;
  }
  .product-name{
    margin-bottom: 10px;
  }
}

.name-en{
  font-size: 2.2rem;
  font-weight: bold;
}

/* moreボタン */
.more-product{
  text-align: center;
}

.btn-more{
  display: inline-block;
  font-size: 2.2rem;
  padding: 10px 60px;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  border: 1px solid #00afcc;
  border-radius: 5px 5px 15px 15px;
}

.btn-more:hover{
  background-color: #da3c41;
  color: #fff;
  transition: 0.6s;
}

/* ===========lineupエリア=========== */

/* ===========packageエリア=========== */
#package{
  padding-top: 70px;
}

.package-wrapper{
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 525px) {
  .package-lineup{
    width: 100%;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 526px) {
  .package-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .package-lineup{
    width: 45%;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 526px) {
.package-text{
  margin-top: 24px;
  margin-bottom: 30px;
  position: relative;
  height: 120px;
}
}

@media screen and (max-width: 525px) {
.package-text{
  margin-top: 24px;
  margin-bottom: 36px;
  position: relative;
  height: 80px;
}
}

.package-name{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 20px 0px;
}

.package-number{
  font-size: 2.0rem;
  font-weight: bold;
}

.value{
  font-size: 2.0rem;
  display: block;
  float: right;
}

.value small{
  font-size: 1.6rem;
}

.purchase-wrapper{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.number-form{
  border: 1px solid #333;
  background-color: #fff;
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
  margin-right: 16px;
}


.select a{
  display: inline-block;
  padding: 6px 30px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  border: 1px solid #000000;
  line-height: 1.2;
}

.select a:hover{
  background-color: #eb3c55;
  color: #fff;
  transition: 0.6s;
}

#sum_btn{
  display: block;
  font-size: 2.2rem;
  padding: 10px 40px;
  margin: 50px auto;
  text-decoration: none;
  background: #fff;
  color: #333;
  border: 1px solid #00afcc;
  border-radius: 5px 5px 15px 15px;
}

#sum_btn:hover{
  background-color: #eb3c55;
  color: #fff;
  transition: 0.6s;
}

/* ===========packageエリア=========== */

/* ===========accessエリア=========== */

.access-wrapper{
  border: 1px solid #333;
  border-radius: 15px;
}

.map-image{
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.right-box{
  width: 100%;
}

.cafe-text{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.8;
}

.shop-name{
  font-size: 2.2rem;
  font-weight: bold;
}

.shop-address{
  font-size: 1.6rem;
}

form{
  margin: 0 auto;
  width: 80%;
}

.contact-text{
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  margin-bottom: 18px;
}

.form-name, .form-mail{
  border: 1px solid #000000;
  width: 80%;
  height: 40px;
}

.ct_iptxt{
  display: flex;
  flex-flow: column;
  margin-top: 32px;
  width: 100%;
}

#request-about{
  border: 1px solid #333;
}


.cp_ipselect {
	overflow: hidden;
	width: 80%;
	text-align: center;
}

.cp_ipselect select {
	width: 100%;
	padding-right: 10px;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.cp_ipselect select::-ms-expand {
  display: none;
}

.cp_ipselect.cp_sl02 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}

.cp_ipselect.cp_sl02::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}

.cp_ipselect.cp_sl02:after {
	position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	width: 1px;
	content: '';
	border-left: 1px solid #bbbbbb;
}

.cp_ipselect.cp_sl02 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

/* 送信するボタン */
.send-button{
  border: 1px solid #333;
  background-color: #fff;
  font-size: 1.6rem;
  padding: 20px 30px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.send-button:hover{
  background-color: #eb3c55;
  color: #fff;
  transition: 0.6s;
}

footer{
  background:linear-gradient(to bottom, #ebeae4, #39b5ca);
  width: 100%;
  padding: 60px auto 40px;
  margin: 0 auto;
  line-height: 2.0;
}

.footer-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 1.8rem;
}

.footer-content a{
  text-decoration: none;
  color: #333;
}

.footer-content a:hover{
  color: #da3c41;
}

@media screen and (min-width: 451px) {
.logo-wrapper, .menu, .policy, .sns-wrapper{
  width: 50%;
}
.logo{
  width: 80%;
}

.logo-wrapper, .menu{
  border-bottom: 1px solid #333;
}
.logo-wrapper, .policy{
  border-right: 1px solid #333;
}
}

@media screen and (max-width: 450px) {
.logo-wrapper{
  width: 70%;
}

.logo, .menu, .policy{
  width: 100%;
}

.sns-wrapper{
  width: 50%;
}

.menu, .policy {
  border-bottom: 1px solid #333;
}
}

.logo-wrapper, .menu, .policy, .sns-wrapper{
  padding: 16px;
}

/* snsエリア */
.mark-wrapper{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 30px;
  width: 60%;
}

.followme{
  font-size: 1.6rem;
  text-align: left;
}

.sample a{
  width: 56px;
  height: 56px;
  border-radius: 28px;
}

.sns-mark{
  width: 56px;
  margin-right: 12px;
}


footer small{
  font-size: 1.4rem;
  margin-top: 60px;
  display: block;
  text-align: center;
  position: relative;
  top: -20px;
}
